github "wireapp/wire-ios-ziphy" "feature/Swift5"
github "wireapp/Cartography" "3.0.3"
github "wireapp/wire-ios-sync-engine" "feature/Swift5"
github "wireapp/wire-ios-share-engine" "feature/Swift5"
github "wireapp/FormatterKit" "1.8.1-swift3.0.2"
github "wireapp/wire-ios-canvas" "feature/Swift5"
github "wireapp/HockeySDK-iOS" ~> 5.0
github "wireapp/FLAnimatedImage" "1.0.12-wire"
github "wireapp/PureLayout" "v3.0.0"
github "wireapp/Down" "v2.1.1"
github "ra1028/DifferenceKit" ~> 1.1.1
