github "billypchan/wire-ios-ziphy" "15.0.1_xcframework"
github "wireapp/Cartography" "4.0.0_xcframework"
github "billypchan/wire-ios-sync-engine" ~> 381.1.3
github "billypchan/wire-ios-share-engine" ~> 220.1.2
github "billypchan/FormatterKit" "1.8.1_xcframework"
github "billypchan/wire-ios-canvas" ~> 12.0.3
github "wireapp/appcenter-sdk-apple" "3.3.4_xcframework"
github "wireapp/FLAnimatedImage" "1.0.12_xcframework"
github "wireapp/Down" "v2.3.0_xcframework"
github "wireapp/DifferenceKit" "1.1.5_xcframework"
github "wireapp/countly-sdk-ios" "20.11.1_xcframework"
