// 
// Wire
// Copyright (C) 2016 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 

#include "../../../Configuration/Base.xcconfig"
#include "Warnings.xcconfig"

// Architectures
//
SDKROOT = iphoneos

// Packaging
//
INFOPLIST_EXPAND_BUILD_SETTINGS = YES
DEFINES_MODULE = YES

// Deployment
//
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 10.0
// Code Signing
CODE_SIGN_STYLE = Manual

// Build Options
//
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_TESTABILITY = YES

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks $(PROJECT_DIR)/Carthage/Build/iOS

// Search Paths
//
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS
HEADER_SEARCH_PATHS = $(inherited) "$(TARGET_TEMP_DIR)/../$(PROJECT_NAME).build/DerivedSources"

// LLVM compiler - Language
GCC_PRECOMPILE_PREFIX_HEADER = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_BITCODE = NO
ENABLE_STRICT_OBJC_MSGSEND = YES

// LLVM compiler - Preprocessing
//
// Turn off analytics & Hockey for the simulator
GCC_PREPROCESSOR_DEFINITIONS = ${inherited} DEBUG=0

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = ${inherited} USE_HOCKEY=0
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = ${inherited} USE_HOCKEY=1

// Swift Compiler

SWIFT_VERSION = 4.2
